.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 15px;
}

.container {
  width: 100%;
}

.option {
  width: 100%;
  padding: 25px 17px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-primary-01);
  text-align: start;
}
