.game {
  max-width: 880px;
  padding: 50px 100px;
  margin: 70px auto;
  background-color: white;
  border-radius: 20px;
}

.container {
  position: relative;
}

.title {
  margin-bottom: 40px;
}

.score {
  position: absolute;
  top: 15px;
  right: 0;
}

.text {
  margin-bottom: 35px;
}
