* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-00: #e9f4ff;
  --color-primary-01: #e6f0ff;
  --color-primary-02: #06f;
  --color-primary-03: #0066ff;
  --color-primary-hover: #297fff;
  --color-primary-on-click: #005ce5;
  --color-primary-disabled: #c1c1c1;
  --color-additional-01: rgb(0 255 102 / 20%);
  --color-additional-02: rgb(0 208 46 / 100%);
  --color-additional-03: #d00000;
  --color-additional-04: rgb(255 0 0 / 15%);
}

h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}