.header {
  background-color: white;
}

.container {
  display: flex;
  max-width: 1440px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  margin: 0 auto;
}

.title {
  color: var(--color-primary-03);
}

.gameRules {
  border: none;
  background-color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titleRules {
  margin-bottom: 40px;
  text-align: center;
}

.rules {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 45px;
}
